
.footer-wrapper {

    .footer-item {
        padding: 100px 0;
        position: relative;
        text-align: center;

         @include breakpoint (max-lg) {
           padding: 80px 0;
        }

        h2 {
            font-size: 30px;
            color: $white;

             @include breakpoint (max-sm) {
                font-size: 25px;
            }

            a {
                color: $white;
            }

            &.text {
                font-size: 24px;
            }
        }

        .footer-list-item {
            @include flex;
            justify-content: space-between;
            border-radius: 136px;
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(62px);
            padding: 20px 24px;
            margin-top: 80px;

             @include breakpoint (max-xxl) {
                margin-top: 30px;
                padding: 20px;
            }

             @include breakpoint (max-lg) {
                border-radius: 0;
                flex-wrap: wrap;
                gap: 20px;
            }

            .footer-list {
                @include flex;
                gap: 40px;

                 @include breakpoint (max-xxl) {
                    gap: 20px;
                }

                @include breakpoint (max-sm) {
                    flex-wrap: wrap;
                    gap: 15px;
                }

                li {
                    font-weight: 500;
                    font-family: $heading-font;
                    text-transform: uppercase;

                    a {
                        color: $white;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }

            .social-icon {
                @include flex;
                gap: 12px;

                a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 100px;
                    backdrop-filter: blur(46px);
                    background-color: $bg-color-2;
                    color: $white;
                    display: inline-block;

                    &:hover {
                    background-color: $theme-color;
                    }
                }
            }
        }
    }
}


.footer-section {
    margin: 0 30px;
    border-radius: 32px;

     @include breakpoint (max-sm) {
       margin: 0 15px;
    }
}

.footer-bottom {
    padding: 24px 0;
    text-align: center;

    .footer-wrapper {
        @include flex;
        justify-content: center;
        gap: 100px;

        @include breakpoint (max-xxl) {
            flex-wrap: wrap;
            gap: 20px;
        }

        @include breakpoint (max-sm) {
            justify-content: start;
        }

        p {
            color: $header-color;

            span {
                color: $theme-color;
                text-transform: uppercase;
            }
        }

        .bottom-list {
            @include flex;
            gap: 40px;

             @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 20px;
            }

            @include breakpoint (max-sm) {
                justify-content: center;
            }

            li {
                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.footer-widget-wrapper-2 {
    padding: 70px 0 90px;

    @include breakpoint (max-lg) {
        padding: 50px 0 80px;
    }

    .single-footer-widget {
        margin-top: 30px;

        .widget-title {
            margin-bottom: 24px;

            h3 {
                color: $white;
                text-transform: uppercase;
            }
        }

        .footer-content {
            p {
                max-width: 502px;
                color: rgba(255, 255, 255, 0.7);

                 @include breakpoint (max-xxl) {
                    font-size: 14px;
                }

                @include breakpoint (max-lg) {
                    font-size: 16px;
                }
            }

            .social-icon {
                @include flex;
                gap: 20px;
                margin-top: 50px;

                @include breakpoint (max-xxl) {
                    margin-top: 30px;
                    gap: 13px;
                }

                 @include breakpoint (max-lg) {
                    gap: 16px;
                }

                span {
                    display: inline-block;
                    margin-right: 4px;
                    color: $white;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: $heading-font;

                     @include breakpoint (max-xxl) {
                       font-size: 14px;
                    }

                     @include breakpoint (max-lg) {
                       font-size: 16px;
                    }
                }

                a {
                    font-size: 20px;
                    color: $theme-color;

                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }

        .list {
            li {
                @include transition;
                font-weight: 400;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                }

                &:hover {
                    margin-left: 5px;

                    a {
                        color: $theme-color;
                    }
                }
            }
        }

        .contact-item {
            li {
                display: flex;
                align-items: start;
                color: rgba(255, 255, 255, 0.7);
                gap: 8px;

                &.style-2 {
                    @include flex;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                }

                i {
                    color: $theme-color;
                }
            }
        }
    }
}

.footer-section-2 {
    position: relative;
    z-index: 9;

    .shape {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

.footer-newsletter {
    @include flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 32px 48px;
    background-color: $theme-color-2;
    border-radius: 16px;

    @include breakpoint (max-xxl) {
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px;
        margin-top: 80px;
    }

    .newsletter-content {
        h3 {
            color: $white;
        }

        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    form {
        max-width: 587px;
        width: 100%;
    }

     .form-clt {
        position: relative;

        .input-icon {
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            position: absolute;

            @include breakpoint (max-sm) {
              top: 23%;
            }
        }

        input {
            width: 100%;
            outline: none;
            border: none;
            background-color: $white;
            color: $text-color;
            line-height: 1;
            padding: 25px 0px 25px 60px;
            border-radius: 100px;
            max-width: 587px;

             @include breakpoint (max-lg) {
                padding: 20px 0px 20px 60px;
            }

            &::placeholder {
                color: $text-color;
            }
        }

         .theme-btn {
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            text-transform: uppercase;
            border: 1px solid rgba(203, 204, 207, 0.24);

            @include breakpoint (max-xxs){
                position: static;
                margin-top: 20px;
                color: $white;
            }
        }
     } 
}

.fotter-bootom-2  {
    border-top: 1px solid rgba(203, 204, 207, 0.24);
    padding: 20px 0;

     .footer-wrapper {
        @include flex;
        justify-content: center;
        gap: 100px;

        @include breakpoint (max-xxl) {
            flex-wrap: wrap;
            gap: 20px;
        }

        @include breakpoint (max-sm) {
            justify-content: start;
        }

        p {
            color: $white;

             @include breakpoint (max-sm) {
                text-align: center;
            }


            span {
                color: $theme-color;
                text-transform: uppercase;
            }
        }

        .bottom-list {
            @include flex;
            gap: 40px;

             @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 20px;
            }

            @include breakpoint (max-sm) {
                justify-content: center;
            }

            li {
                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}


.footer-widget-wrapper-3 {
    padding: 70px 0 100px;
    position: relative;

     @include breakpoint (max-xxl) {
       padding: 70px 0 100px;
    }

     @include breakpoint (max-lg) {
       padding: 50px 0 80px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 424px;
        left: 600px;
        background-color: rgba(203, 204, 207, 0.24);
        top: 0;
        bottom: 0;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .single-footer-widget {
        margin-top: 30px;

        .widget-title {
            margin-bottom: 24px;

            h3 {
                color: $white;
                text-transform: uppercase;
            }
        }

        .footer-content {
            h3 {
                color: $white;
                margin-bottom: 10px;
            }

            p {
                color: $white;
                opacity: 0.7;
                max-width: 551px;
                margin-bottom: 30px;
            }

             form {
                max-width: 551px;
                width: 100%;
            }

            .form-clt {
                position: relative;

                input {
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: $white;
                    color: $text-color;
                    line-height: 1;
                    padding: 25px 0px 25px 25px;
                    border-radius: 100px;
                    max-width: 551px;

                    @include breakpoint (max-xxl) {
                        padding: 20px 0px 20px 10px;
                        font-size: 14px;
                    }

                    @include breakpoint (max-lg) {
                        padding: 20px 0px 20px 10px;
                        font-size: 14px;
                    }

                     @include breakpoint (max-sm) {
                        font-size: 14px;
                    }

                    &::placeholder {
                        color: $text-color;
                    }
                }

                .theme-btn {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    bottom: 4px;
                    text-transform: uppercase;
                    border: 1px solid rgba(203, 204, 207, 0.24);
                    background-color: $bg-color;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }

                    @include breakpoint (max-xxl){
                        right: 0;
                        top: 0;
                        bottom: 0;
                        padding: 2px 4px 2px 12px;
                        font-size: 14px;

                         i {
                            margin-left: 10px;
                         }
                    }
                }
            } 

            h6 {
                color: $white;
                margin-top: 15px;

                span {
                    color: $theme-color;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }

        .contact-content {
            p {
                color: $white;
                opacity: 0.7;
                margin-bottom: 24px;
            }

            h3 {
                color: $white;
            }

            .contact-list {
                margin-top: 16px;

                li {
                    @include flex;
                    gap: 32px;

                    a {
                        color: $white;
                        opacity: 0.7;
                    }
                }
            }
        }

        .list {
            li {
                @include transition;
                font-weight: 400;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                a {
                    color: rgba(255, 255, 255, 0.7);
                }

                &:hover {
                    margin-left: 5px;

                    a {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.footer-top-item {
    @include flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(203, 204, 207, 0.24);


     @include breakpoint (max-lg) {
        flex-wrap: wrap;
        gap: 30Px;
        padding-bottom: 10px;
    }

    .footer-logo {
        background-color: $theme-color-2;
        padding: 18px 30px;
    }

    .top-list {
        @include flex;
        gap: 40px;

         @include breakpoint (max-xxl) {
            gap: 20Px;
        }

        @include breakpoint (max-lg) {
            flex-wrap: wrap;
            gap: 15Px;
        }

        li {
            a {
                font-weight: 500;
                text-transform: uppercase;
                color: $white;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    .social-item {
        @include flex;
        gap: 12px;

        a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: $theme-color-2;
            border-radius: 100px;
            color: $white;
            text-align: center;

            &:hover {
                background-color: $theme-color;
            }
        }
    }
}