
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #E13833;
     --theme-2: #0048B4;
    --header: #151A26;
    --text: #535761;
     --text-2: #0B4E3D;
    --border: #C9C9C9;
     --border-2: #CBCCCF;
    --bg: #F8F8F9;
     --bg-2: #153888;
    --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme-2);
$text-color: var(--text);
$text-color-2: var(--text-2);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border-2);
$bg-color: var(--bg);
$bg-color-2: var(--bg-2);
$shadow: var(--pp-box-shadow);